body {
	overflow-x: hidden;
	overflow-y: scroll;
}
#nav {
		padding: 4px;
	background-color: black;
	width: 100%;
	opacity: 0.6;
	
}
#head {
	font-family: cursive;
	font-size: 20px;

}
#welcome {
	background-image: url('wood.jpg');
	width: 100%;
}
.intro-head {
	text-align: center;
}
.intro {
	font-family: verdana;
	font-size: 70px;
	
	padding: 150px 40px 100px 40px;
	font-weight: bold; 
}

.intro2 {
	font-size: 50px;
	font-family: cursive;
	
	margin-bottom: 145px;
	font-weight: bold;
}

.container1 {
	background-color: #f0f0f0;
}
.container2 {
	margin-bottom: 50px;
	margin-left: 20px;

}

#contact {

	float: left;
	background-image: url("contactbg.jpg");
	width: 100%;
	
}
.footer {

	width: 100%;
	text-align: center;
	background-color: #232323;
	float: left;
	color: white;
	padding: 10px;
}


.img {

	
	border: 1px solid #ccc;
	float: left;
	width: 30%;
}

div.img:hover {

	border: 1px solid #777;
}

div.img img {

	width: 100%;
	
}

div.desc {
	background-color: #e6e6e6;
	padding: 15px;
	text-align: center;
	color: black;
}


.icons {

	text-decoration: none;

}


#thumbwrap{
	width: 100%;
	margin-left: 20px;
	margin-bottom: 30px;
}
			
.thumb {
	float:left; /* must be floated for same cross browser position of larger image */
	position:relative;
	margin:10px 10px 20px 10px;
}
.thumb img { 
	border:1px solid #000;
	display: block;
}
.thumb:hover {
	border:0; /* IE6 needs this to show large image */
	z-index:1;
}
.thumb span { 
	position:absolute;
	visibility:hidden;
}
.thumb:hover span { 
	visibility:visible;
	top:37px; left:37px; 
	
}