body {
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
#nav {
		padding: 4px;
	background-color: black;
	width: 100%;
	opacity: 0.6;
	
}
#head {
	font-family: cursive;
	font-size: 20px;

}
#welcome {
	background-image: url('wood.jpg');
	width: 100%;
}
.intro-head {
	text-align: center;
}
.intro {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 70px;
	
	padding: 150px 50px 100px 40px;
	font-weight: bold; 
}

.intro2 {
	font-size: 50px;
	font-family: Tahoma, Geneva, sans-serif;
	
	margin-bottom: 145px;
	font-weight: bold;
}

.container1 {
	background-color: #f0f0f0;
}
.container2 {
	margin-bottom: 50px;
	width: 100%;
}

div.img {

	margin: 10px;
	border: 1px solid #ccc;
	float: left;
	width: 100%;
	display: inline-block;
}

div.img:hover {

	border: 1px solid #777;
}


#contact {

	float: left;
	background-image: url("contactbg.jpg");
	width: 100%;
	
}
.footer {

	width: 100%;
	text-align: center;
	background-color: #232323;
	float: left;
	color: white;
	padding: 10px;
}





.icons {

	text-decoration: none;

}




