body {
	width: 100%;
	background-image: url("bg.jpg");
	overflow-x: scroll;
	overflow-y: scroll;
}

.navbar {
	text-decoration: none;
	color: white;
	font-family: cursive;
	padding-top: 120px;
	text-align: center;
	display: block;
	font-size: 18px;
}
.container{
	position: fixed;
	width: 26%;
	height: 100%;
	
	display: block;
	padding: 10px;
	background-color: black;
}

.header{
	
	position: relative;
	top: 420px;
	left: 630px;
	color: white;
	font-family: verdana;
}